@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    /* COLORS */
    /* Primary */
    --clr-primary-01: #000814;
    --clr-primary-02: #001d3d;
    --clr-primary-03: #003566;

    /* Secondary */
    --clr-secondary-01: #ffc300;
    --clr-secondary-02: #ffd60a;

    /* LAYOUT */
    --max-width: 1330px;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border m-0 p-0 box-border;
  }

  /* Background image */
  body {
    @apply bg-[var(--clr-primary-01)] text-foreground;
    background-image: linear-gradient(
        0deg,
        rgba(0, 8, 20, 0.7) 0%,
        rgba(0, 29, 61, 0.7) 45%,
        rgba(0, 53, 102, 0.7) 100%
      ),
      url(/images/bg2.svg);
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

@layer components {
  .project-page {
    @apply [&>*]:mb-8 [&>p>strong]:text-[--clr-secondary-01] leading-relaxed [&>p>a]:underline hover:[&>p>a]:text-[--clr-secondary-01] hover:[&>p>a]:transition [&>ul]:list-disc [&>ul]:pl-4
    [&>h2]:text-2xl [&>h2]:font-bold [&>h2]:pt-4 [&>ul>li>a]:underline hover:[&>ul>li>a]:text-[--clr-secondary-01] hover:[&>ul>li>a]:transition
    [&>ul>li>ul]:list-disc [&>ul>li>ul]:pl-4;
  }
}

@layer utilities {
  .text-span {
    @apply text-[var(--clr-secondary-01)];
  }

  .link-hover {
    @apply hover:text-[var(--clr-secondary-01)] transition-all;
  }

  .alert {
    @apply absolute z-10 top-0 left-0 right-0 shadow-lg max-w-sm;
  }

  .btn-select {
    @apply bg-[var(--clr-secondary-01)] text-accent-foreground;
  }

  .project-hover {
    @apply border-4 border-transparent hover:border-[var(--clr-secondary-01)] rounded-xl hover:-translate-y-1;
  }
}
